html {
  height: 100vh;
}

body {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  background: #ffffff;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.adminForm {
  display: inline;
}

.wopool {
  width: 100%;
}

.logo {
  height: 2em;
}

.title {
  display: flex;
  align-items: center;
  margin-top: .66em;
}

.title * {
  margin: .66em 0 .66em 0;
}

.title svg {
  margin: 0;
}

.subtitle {
  margin: .33em;
}

.subtitle h5, h6 {
  display: inline;
  margin: 0 .066em;
}

.subtitle a:link {
  text-decoration: none;
  color: white;
}

.subtitle a:visited {
  text-decoration: none;
  color: white;
}

.subtitle a:hover {
  text-decoration: none;
  color: white;
}

.subtitle a:active {
  text-decoration: none;
  color: white;
}

.form h3 {
  margin: .5em 0 .5em 0;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #002E5D;
  color: #ffffff;
}

.content {
  margin: 3em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#swapButton {
  margin-top: auto;
  align-self: center;
  width: 15em;
  height: 3em;
}

.content > div > div {
  display: inline-block;
  margin: 1em;
}

.adminContent {
  margin: 3em;
  display: flex;
}

.adminContent > div > div {
  display: inline-block;
  margin: 1em;
}

.times {
  display: inline-block;
  margin: 0 .3em 0 .3em;
}

input, textarea, select, button {
  font-family: 'montserrat', sans-serif;
  font-size: 1em;
}

table {
  text-align: left;
  width: 100%;
}

.tableHead {
  font-family: 'montserrat', sans-serif;
  height: 2em;
}

th {
  width: 16em;
}

tr {
  height: 2em;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  color: #002E5D;
  background: #f0f0f0;
  width: 33em;
  min-height: 1.66em;
  padding: .33em;
  margin-bottom: .33em;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.delete {
  display: none;
  margin-left: auto;
}

tr:hover .delete {
  display: block;
  border: none;
  outline:none;
  overflow: hidden;
  height: 1.66em;
  width: 1.66em;
  background-color: transparent;
  background-image: url(images/baseline-delete_forever-24px.svg);
  background-size: cover;
}

.edit {
  display: none;
  margin-left: auto;
}

tr:hover .edit {
  display: block;
  border: none;
  outline:none;
  overflow: hidden;
  height: 1.66em;
  width: 1.66em;
  background-color: transparent;
  background-image: url(images/baseline-edit-24px.svg);
  background-size: cover;
}

.apply {
  display: none;
  margin-left: auto;
}

tr:hover .apply {
  display: block;
  border: none;
  outline: none;
  overflow: hidden;
  height: 1.66em;
  width: 1.66em;
  background-color: transparent;
  background-size: cover;
  background-image: url(images/baseline-done-24px.svg);
}

.deleteEditing {
  display: block;
  border: none;
  outline: none;
  overflow: hidden;
  height: 1.66em;
  width: 1.66em;
  background-color: transparent;
  background-size: cover;
  background-image: url(images/baseline-delete_forever-24px.svg);
}

.editEditing {
  display: block;
  border: none;
  outline: none;
  overflow: hidden;
  height: 1.66em;
  width: 1.66em;
  background-color: transparent;
  background-size: cover;
  background-image: url(images/baseline-edit-24px.svg);
}

.applyEditing {
  display: block;
  border: none;
  outline: none;
  overflow: hidden;
  height: 1.66em;
  width: 1.66em;
  background-color: transparent;
  background-size: cover;
  background-image: url(images/baseline-done-24px.svg);
}
